body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-bodoni-moda: "Bodoni Moda";
    --font-inria-sans: "Inria Sans";
    --font-island-moments: "Island Moments";
    --font-inter: Inter;
    --font-jua: Jua;
  
    /* font sizes */
    --font-size-73xl-6: 92.6px;
    --font-size-8xl-6: 27.6px;
  
    /* Colors */
    --color-black: #000;
    --color-gray-100: rgba(255, 255, 255, 0.5);
    --color-seagreen: #629460;
  }
  