.frame2,
.your-image {
  position: absolute;
  top: 26px;
  left: 127px;
}
.frame2 {
  top: 0;
  left: 741px;
  background-color: rgba(147, 228, 118, 0.47);
  filter: blur(4px);
  width: 528px;
  height: 693px;
  overflow: hidden;
}
.developer {
  text-decoration: underline;
}
.im-developer {
  position: absolute;
  top: 126px;
  left: 87px;
  font-weight: 600;
  mix-blend-mode: color-burn;
}
.darsh-parikh {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 92px;
  line-height: 124.97%;
  font-family: var(--font-jua);
  color: #224819;
  display: inline-block;
  width: 539px;
  height: 114px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.5;
}
.about {
  position: absolute;
  top: 15px;
  left: 28px;
}
.frame4 {
  right: 173px;
  bottom: 0;
  border-radius: 38px;
  background-color: var(--color-seagreen);
  filter: blur(4px);
  width: 193px;
  height: 77px;
  font-size: 39.1px;
  color: #fff;
}
.frame,
.frame1,
.frame3,
.frame4 {
  position: absolute;
  overflow: hidden;
}
.frame3 {
  top: 103px;
  left: 0;
  width: 539px;
  height: 321px;
  font-size: 53.4px;
  color: #281717;
}
.frame,
.frame1 {
  top: 0;
  left: 35px;
  width: 1269px;
  height: 693px;
}
.frame {
  top: 204px;
  left: 68px;
  width: 1304px;
}
.frame-child {
  position: absolute;
  top: 43px;
  left: 0;
  background-color: var(--color-seagreen);
  width: 1440px;
  height: 91px;
}
.darsh {
  position: absolute;
  top: 34px;
  left: 77px;
  font-size: var(--font-size-73xl-6);
  font-family: var(--font-island-moments);
  display: inline-block;
  width: 284px;
  height: 111.8px;
  text-shadow: 2px 0 0#000, 0 2px 0#000, -2px 0 0#000, 0-2px 0#000;
}
.about1,
.contact,
.home,
.resume,
.skills {
  position: absolute;
  top: 77px;
  left: 720px;
  font-weight: 700;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.about1,
.contact,
.resume,
.skills {
  left: 1268px;
}
.about1,
.resume,
.skills {
  left: 852px;
}
.resume,
.skills {
  left: 986px;
}
.resume {
  left: 1108px;
}
.frame-item {
  position: absolute;
  top: 130px;
  left: 720px;
  width: 77px;
  height: 13px;
  object-fit: cover;
}
.div {
  top: 7px;
  left: 120px;
  font-size: var(--font-size-73xl-6);
  text-decoration: underline;
  font-family: var(--font-bodoni-moda);
  color: var(--color-black);
  display: inline-block;
  width: 156px;
}
.div,
.div1,
.frame5 {
  position: absolute;
}
.div1 {
  top: 0;
  left: 729px;
  font-size: var(--font-size-73xl-6);
  text-decoration: underline;
  font-family: var(--font-bodoni-moda);
  color: var(--color-black);
  display: inline-block;
  width: 86px;
  height: 104px;
}
.frame5 {
  top: -43px;
  left: 0;
  width: 1440px;
  height: 148px;
  overflow: hidden;
  font-size: var(--font-size-8xl-6);
  color: var(--color-gray-100);
  font-family: var(--font-inria-sans);
}
.desktop-1 {
  position: relative;
  background: linear-gradient(#c9f2c7, #c9f2c7), #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 51.6px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
